<!DOCTYPE html>
<html>
<head>
<link rel='shortcut icon' href='/image/pngegg (8).png' />

<meta charset="UTF-8">
<link rel="stylesheet" href="/css/navbar.css">
<title>Home</title>
</head>
<style>
body {
  width: 100%;
  height: 100%;
  background-image: url("/image/anh-sach.jpg");
  background-size: 100%;
}
</style>
<body>
<div id="navbar">
  <ul>
    <li><a href="/home/home">Home</a></li>
    <li><a href="/page2_1">Bank</a></li>
    <li>Calendar</li>
    <li><a href="/">My Course</a></li>
    <li><a href="/page3_2">Create Question</a></li>
    <li><a href="/TurnEditing">Create Quiz</a></li>
  </ul>
</div>

<script src="/js/script.js"></script>
</body>
</html>